* {

    margin: 0;
}


.btn-white {
    padding: 20px 30px;
    border: none;
    border-radius: 5px;

}

.btn-white a {
    text-decoration: none;
    color: black;
    font-size: 18px;


}

.btn-white:hover {
    background-color: #2727c0;
    color: white;
}


/* banner part style */

.banner-container {

    background-image: url("../images/banner/banner3.png");
    width: 100%;
    height: 600px;
}

.banner-text {
    text-align: right;

    margin-right: 50px;
    padding: 10px;
    color: white;
}

.banner-text>p {
    font-size: 20px;
    margin-bottom: 18px;
}

.banner-title {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: bolder;
}

/* My failures part style */


.failures-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 40px;

}

.failures-detlis {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.failures-title {
    font-size: 50px;

}

.failures-description {
    font-size: 20px;
    margin: 30px 0;
}

.filures-item {
    font-size: 16px;
    margin: 5px;
}


/* My Plans style */

.my-plan-container {
    margin: 100px 0;
}

.plan-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.plan-items {
    display: flex;
    justify-content: space-evenly;

}

.item {
    text-align: center;
}

.item h3 {
    font-size: 25px;
}

.item p {
    font-size: 18px;
}

/* My Experience part style  */

.experience-part {
    background-image: url("../images/My-experience/my-expi.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.ex-container {
    background-color: #043b687e;
    display: flex;
    justify-content: center;
}

.ex-hover {
    width: 600px;
    background-color: #005fac3b;

}

.ex-hover:hover {
    background-color: #005facb0;
    color: white;
    border-radius: 10px;
}

.ex-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 25px;
}

.ex-description {
    font-size: 24px;
}

.ex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
}

.ex-img {
    width: 50%;
    height: 35%;
}

.ex-item {
    border-radius: 10px;
    padding: 10px;
    background-color: #005fac3b;
}

.ex-item-title {
    margin: 8px 0;
}

.es-item-des {}


#ex-i-hover-1:hover {
    background-color: #0a0a72f1;
    color: white;

}

#ex-i-hover-2:hover {
    background-color: #2121a3f6;
    color: white;
}

#ex-i-hover-3:hover {
    background-color: #3535caf5;
    color: white;
}


/* <!-- Awlays keep a positive mindset part style --> */

.positive-mindset {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pm-detail {
    border-radius: 10px;
    width: 800px;
    height: 150px;
    padding: 15px;
    background-image: linear-gradient(#4027c0e6, #ffffff85), url("../images/watch.png");
}


.pm-title {
    margin: 10px 0;
    color: white;
}


/* footer part  style */

.footer-container {
    margin-top: 80px;

}

.footer-co {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #05050e;

}

.footer-detail {
    margin: 80px;
    color: white;
    padding: 15px;

}

.f-d-title {
    margin: 10px 0;
}

.f-d-description {
    margin: 10px 0;
}

.footer-form {
    margin: 100px;
    color: white;
    padding: 15px;
}

.f-f-title {
    margin: 12px 0;
}

#i-field {
    height: 35px;
    margin: 20px 0;
}